/* This is the css for the page of feedback */

/* This is for formatting the section of About Me & My Passion */

h2 {
    color: cadetblue;
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 3ex;
}

#tell {
    color: rgb(69, 34, 9);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 3em;
}

form {
    background-color: rgb(168, 217, 215);
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-top: 3em;
}

textarea {
    width: 100%;
    height: 10em;
}

input[type="text"] {
    width: 20em;
}

input[type="submit"]{
   background-color: antiquewhite;
   border-radius: 4px;
}

input[type="reset"]{
    background-color: antiquewhite;
    border-radius: 4px;
 }

 
/* This is a convenient link for visitors to go back to the top of this page */

#back {
    margin-top: 5em;
    text-align: center;
}

#back a{
    text-decoration: none;
    color: cadetblue;
}

#back a:hover {
    color: rgb(164, 203, 204);
}