/* This is for formatting the section below the navigation */

h2 {
    color: cadetblue;
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 3ex;
}

/* to center the image map and the text above */

#mapAndText {
    text-align: center;
}


